@import url("shabnam_withoutlatin.css");
@import url("reusables.css");
@import url("utilities.css");
@import url("responsive.css");
@import url("main.css");

.image_wrapper {
  background-image: url(../img/login_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login_wrapper {
  flex-direction: column;
  gap: 60px;
}
